.github/**
.idea/**
.vscode/**
.DS_Store
.gitignore
dist/**
coverage/**
node_modules/**
out/**/*.map
src/**
scripts/**
tests/**
webview/**
.releaserc.json
package-lock.json
TEST_PLAN.md
main-section.html
resources/fonts/*.gs2
tsconfig.json
vite.webview.config.mts
vitest.config.ts
*.vsix
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
